@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@layer theme, base, clerk, components, utilities;
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

* {
  font-family: 'Outfit', sans-serif;
}

.gutter {
  background-color: transparent;
  transition: background-color 0.2s ease;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: rgba(220, 38, 38, 0.3);
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba(220, 38, 38, 0.4), rgba(220, 38, 38, 0.8));
  border-radius: 9999px;
  border: 2px solid #0b0b0b;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}
